
<table border="0" cellspacing="0" cellpadding="0" width="902">
  <tr> 
    <td height="20" align="left" background="<?php echo $config[template_url] ?>/images/navbg.gif">&nbsp;</td>
  </tr>
  <tr> 
      <td height="50" align="center" valign="top" background="<?php echo "$config[template_url]"; ?>/images/bottom.gif"> 
        <p class="small">Eagle Business Brokers <br>
          <a href="http://www.liquidconceptions.com" target="author">Powered By Liquid
        Conceptions Design Group<br>
          </a>Visit us at http://www.LiquidConceptions.com<br>
		  
        </p>
        <p class="small" align="left"> </p></td>
  </tr>
</table>
<?php
		$end_time = getmicrotime();
		$render_time = sprintf('%.16f', $end_time - $start_time);
		echo "<!-- This page was generated in $render_time seconds -->";
?>
	</body>

</html>
