<?php
/* ***************************************************** */
/*       BlueBevel Template For Open-Realty 1.1.0 +      */
/*        By Mick @ http://virtualrealty.nhao.com        */
/*  Modified for use with RealtyOne Full Mod Ver011003   */
/* ***************************************************** */
?>
<body><img src="leftadmin.gif" border="0" usemap="#Map">
<map name="Map">
  <area shape="rect" coords="57,387,135,402" href="<?php echo $config[baseurl]; ?>/admin/log_view.php">
  <area shape="rect" coords="57,368,135,383" href="<?php echo $config[baseurl]; ?>/admin/stats/index.php">
  <area shape="rect" coords="57,350,135,365" href="<?php echo $config[baseurl]; ?>/admin/module_admin/server_status.php">
  <area shape="rect" coords="57,332,135,347" href="<?php echo $config[baseurl]; ?>/admin/backup_main.php">
  <area shape="rect" coords="57,314,135,329" href="<?php echo $config[baseurl]; ?>/admin/module_admin/robots.php">
  <area shape="rect" coords="57,270,135,285" href="<?php echo $config[baseurl]; ?>/admin/module_admin/glossary_admin.php">
  <area shape="rect" coords="57,241,135,267" href="<?php echo $config[baseurl]; ?>/admin/template_editor.php">
  <area shape="rect" coords="57,223,135,238" href="<?php echo $config[baseurl]; ?>/admin/user_form_editor.php">
  <area shape="rect" coords="57,205,135,220" href="<?php echo $config[baseurl]; ?>/admin/user_form_editor.php">
  <area shape="rect" coords="57,161,135,176" href="<?php echo $config[baseurl]; ?>/admin/user_edit.php?edit_isAgent=no">
  <area shape="rect" coords="57,143,135,158" href="<?php echo $config[baseurl]; ?>/admin/add_user.php?edit_isAgent=no">
  <area shape="rect" coords="57,125,135,140" href="<?php echo $config[baseurl]; ?>/admin/user_edit.php?edit_isAgent=yes">
  <area shape="rect" coords="57,107,135,122" href="<?php echo $config[baseurl]; ?>/admin/agent_signup.php?edit_isAgent=yes">
  <area shape="rect" coords="57,63,135,78" href="<?php echo $config[baseurl]; ?>/admin/listings_edit.php">
  <area shape="rect" coords="57,45,135,60" href="<?php echo $config[baseurl]; ?>/admin/user_edit.php?edit_isAgent=yes">
  <area shape="rect" coords="57,27,135,42" href="<?php echo $config[baseurl]; ?>/admin/edit_my_account.php">
</map>
            
			
