@charset "utf-8";
@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: robotoregular;
	color: #333333;
	line-height: 22px;
	background-image: url(../images/bg.png);
	background-repeat: repeat;
}
img { border: none; }
img:hover {
	opacity: 0.6;
    filter: alpha(opacity=60);
}	
a {
	text-decoration:none;
	color:#004a95;
}	
a:hover	{
	text-decoration:none;
	color:#555;
}
h1, h2, h3, h4,
h5, h6, b,
strong          {
	font-family: Arial, Helvetica, sans-serif;
	font-weight:normal;
	color:#004a95;
	}
.wrap {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
.container {
	float: left;
	width: 930px;
	background-color: #FFFFFF;
	padding-right: 25px;
	padding-left: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.main {
	float: left;
	width: 930px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.admin {
	float: left;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}
.admin a {
	padding-right: 5px;
	padding-left: 5px;
}


.innerhead {
	padding: 20px;
	float: left;
	width: 890px;
	font-size: 36px;
	line-height: 1.36em;
	color: #FFFFFF;
	background-color: #006395;
	margin-top: 10px;
}
.bodyadmin {
	float: left;
	width: 930px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 0px;
	padding-left: 0px;
	text-align: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
}
#Login {
	width: 100%;
}
#Password {
	width: 100%;
}
#field {
	width: 100%;
}

.tablelist {
	border: 1px dotted #CCCCCC;
}
.small {
	font-size: 12px;
	color: #666666;
}
.tablelisthead {
	border: 1px dotted #CCCCCC;
	color: #006395;
}
.tableadd {
	margin-bottom: 15px;
}
.red {
	color: #FF0000;
}
